<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Авторизація</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/auth.css}">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
<div class="main">
    <input type="checkbox" id="chk" aria-hidden="true">

    <div class="signup">
        <form th:action="@{/register}" method="post">
            <label for="chk" aria-hidden="true">Sign up</label>
            <div th:if="${registerError != null}" style="color: red; text-align: center;">
                <p th:text="${registerError}"></p>
            </div>
            <input type="text" name="player" placeholder="User name" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Sign up</button>
        </form>
    </div>

    <div class="login">
        <form th:action="@{/login}" method="post">
            <label for="chk" aria-hidden="true">Login</label>
            <div th:if="${loginError != null}" style="color: red; text-align: center;">
                <p th:text="${loginError}"></p>
            </div>
            <input type="text" name="username" placeholder="User name" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
    </div>
</div>
</body>
</html>